In [2]:
print('hello world!')

hello world!

In [1]:
import pandas as pd

In [10]:
x='Hello'

In [11]:
print(x)

Hello

In [12]:
#x='hello world'
print("The variable has the value:", x)

The variable has the value: Hello

In [14]:
print('hello')

TypeError: 'str' object is not callable

In [1]:
x='stevenvincent'

In [2]:
name_surname='stevenvincent'

In [ ]:
nameSurname='stevenvincent'

In [4]:
t_boolean = True
print(type(t_boolean))
compute_boolean = 1 + 1 == 2
print(compute_boolean)

<class 'bool'>
True

In [5]:
t_integer = 12
print(type(t_integer))
compute_integer =40 + 6 - 2
print(compute_integer)

<class 'int'>
44

In [8]:
t_float = 12.58
print(type(t_float))
compute_float = 1.5 + 10.7 + 4.9
print(compute_float)

<class 'float'>
17.1

In [9]:
1,2

(1, 2)

In [10]:
1.2

1.2

In [11]:
t_string = 'Hello'
print(type(t_string))
compute_string= '400' + '4' + ' Error'
print(compute_string)

<class 'str'>
4004 Error

In [ ]:
single_quote = 'Hello'
doulbe_quote = "Hello"
multilign_string = '''This is
a multiline string
If you need to store
long arrays of characters.
'''

In [12]:
t_list=['Chapter', 1, 'This", "Is, a', 'list', 'of', 'strings', "."]
print(t_list)

['Chapter', 1, 'This", "Is, a', 'list', 'of', 'strings', '.']

In [15]:
type(t_list[1])

int

In [21]:
t_dictionary={'Peugeot': 306, "Mercedes-Benz": "C220", "Audi": "A4"}
print(t_dictionary)

{'Peugeot': 306, 'Mercedes-Benz': 'C220', 'Audi': 'A4'}

In [27]:
import pd.Datapandas as pd

In [30]:
import pandas as pd
data = {
    "City": ['Paris', 'Lyon', 'Bordeaux'],
    "Population": [2161000, 513275, 249712]
}
t_dataframe = pd.DataFrame(data) 
print(t_dataframe)

       City  Population
0     Paris     2161000
1      Lyon      513275
2  Bordeaux      249712

In [33]:
t_dataframe[t_dataframe['City']=='Paris']

    City  Population
0  Paris     2161000

In [35]:
i=0
cartes = ['Infinite', 'Platinium', 'Gold', 'Classic']
for carte in cartes:
    print(carte)
    i+=1

Infinite
Platinium
Gold
Classic

In [37]:
montant = 0
plafond = 100
while montant < plafond:
    print(montant) 
    montant += 10

0
10
20
30
40
50
60
70
80
90

In [ ]:
montant_compte = 50 
if montant_compte < -500:
    print("Compte en contentieux")
elif montant_compte < 0:
    print("Compte débiteur")
else: 
    print("Compte créditeur")

In [38]:
def check_account_statut (montant_compte):
    if montant_compte < -500: 
        statut='Compte en contentieux'
    elif montant_compte < 0:
        statut="Compte débiteur"
    else:
        statut='Compte créditeur'
    return statut

In [40]:
montant=100
check_account_statut(montant)

'Compte créditeur'

In [2]:
import pandas as pd
import os
import glob

In [3]:
nasdaq_top_companies = [
    {
        "Ticker": "AAPL",
        "Company": "Apple Inc.",
        "Industry": "Technology",
        "Market Cap": "Trillion Dollars",
        "Share_Price": 150.00,
        "Description": "Share price for Apple Inc. in September 2021"
    },
    {
        "Ticker": "MSFT",
        "Company": "Microsoft Corporation",
        "Industry": "Technology",
        "Market Cap": "Trillion Dollars",
        "Share_Price": 300.00,
        "Description": "Share price for Microsoft Corporation in September 2021"
    },
    {
        "Ticker": "AMZN",
        "Company": "Amazon.com Inc.",
        "Industry": "E-commerce",
        "Market Cap": "Trillion Dollars",
        "Share_Price": 3400.00,
        "Description": "Share price for Amazon.com Inc. in September 2021"
    },
    {
        "Ticker": "GOOGL",
        "Company": "Alphabet Inc. (Google)",
        "Industry": "Technology",
        "Market Cap": "Trillion Dollars",
        "Share_Price": 2700.00,
        "Description": "Share price for Alphabet Inc. in September 2021"
    },
    {
        "Ticker": "FB",
        "Company": "Meta Platforms, Inc. (Facebook)",
        "Industry": "Social Media",
        "Market Cap": "Trillion Dollars",
        "Share_Price": 330.00,
        "Description": "Share price for Meta Platforms, Inc. in September 2021"
    }
]
# Load dict to DataFrame
df_nasdaq=pd.DataFrame(nasdaq_top_companies)

In [4]:
cac40_data = [
    {
        "Ticker": "AC",
        "Company": "Accor",
        "Share_Price": 35.60
    },
    {
        "Ticker": "AI",
        "Company": "Air Liquide",
        "Share_Price": 147.80
    },
    {
        "Ticker": "MT",
        "Company": "ArcelorMittal",
        "Share_Price": 28.90
    },
    {
        "Ticker": "BNP",
        "Company": "BNP Paribas",
        "Share_Price": 53.20
    },
    {
        "Ticker": "CAP",
        "Company": "Capgemini",
        "Share_Price": 140.45
    },
]
# Load dict to DataFrame
cac40_data=pd.DataFrame(cac40_data)

In [5]:
df_nasdaq
cac40_data

  Ticker        Company  Share_Price
0     AC          Accor        35.60
1     AI    Air Liquide       147.80
2     MT  ArcelorMittal        28.90
3    BNP    BNP Paribas        53.20
4    CAP      Capgemini       140.45

In [18]:
os.mkdir(r'./MARKET_DATA/')

In [19]:
def CreateCsvFile(df, PrefixName: str):
    '''
    The function CreateCsvFile enables to create multiple csv files by tickers 
    from a dataframe and a prefix as the filename.
    '''
    for line, ticker in zip(df['Ticker'], df['Ticker']):
        pathName = r'./MARKET_DATA/'+ str(PrefixName) +str(ticker)+'.csv'
        df[df['Ticker']==line].to_csv(pathName, index=False)
    return None

In [20]:
CreateCsvFile(df_nasdaq, 'NASDAQ_')
CreateCsvFile(cac40_data, 'CAC40_')

In [17]:
# Assign the folder to parse
pathFolder = r'.\MARKET_DATA'
# Parse the folder
walkFolder = [path[0] for path in os.walk (pathFolder)]
# Initialize list
listOfFile = []
# Loop on the folder
for folder in walkFolder:
    # Assign folder path
    folderName = os.path.basename(folder)
    # Assign folder path joined to a file type searched
    files = os.path.join(folder, 'NASDAQ_*.csv')
    # Store the file path matching the file type searched
    listOfFile = glob.glob(files)

In [15]:
listOfFile

[]

In [16]:
# Initialize list
full_list = []
# Loop on all files
for file in listOfFile:
    # Import data to a Dataframe
    full_file = pd.read_csv(file, dtype = str).reset_index(drop = True)
    # Assign the file path to the file_name columns
    full_file['file_name']=os.path.basename(file)
    # Append the DataFrame to the list initialized
    full_list.append(full_file)
# Merge the list of DataFrames to a single DataFrame
fileConcat = pd.concat(full_list)

ValueError: No objects to concatenate

In [12]:
fileConcat

,Ticker,Company,Industry,Market Cap,Share_Price,Description,file_name
0,AAPL,Apple Inc.,Technology,Trillion Dollars,150.0,Share price for Apple Inc. in September 2021,NASDAQ_AAPL.csv
0,AMZN,Amazon.com Inc.,E-commerce,Trillion Dollars,3400.0,Share price for Amazon.com Inc. in September 2021,NASDAQ_AMZN.csv
0,FB,"Meta Platforms, Inc. (Facebook)",Social Media,Trillion Dollars,330.0,"Share price for Meta Platforms, Inc. in Septem...",NASDAQ_FB.csv
0,GOOGL,Alphabet Inc. (Google),Technology,Trillion Dollars,2700.0,Share price for Alphabet Inc. in September 2021,NASDAQ_GOOGL.csv
0,MSFT,Microsoft Corporation,Technology,Trillion Dollars,300.0,Share price for Microsoft Corporation in Septe...,NASDAQ_MSFT.csv

In [58]:
x='hello world'
print("The variable has the value:", x)

The variable has the value: hello world

In [59]:
x=3
print(x)

3

In [60]:
camelCase = 'mixed case'
snake_case = 'words separated by underscore'

In [61]:
t_boolean = True
print(type(t_boolean))
compute_boolean = 1 + 1 == 1
print(compute_boolean)

<class 'bool'>
False

In [62]:
t_integer = 12
print(type(t_integer))
compute_integer =40 + 6 - 2
print(compute_integer)

<class 'int'>
44

In [63]:
t_float = 12.58
print(type(t_float))
compute_float = 1.5 + 10.7 + 4.9
print(compute_float)

<class 'float'>
17.1

In [64]:
t_string = 'Hello'
print(type(t_string))
compute_string= '400' + '4' + ' Error'
print(compute_string)

<class 'str'>
4004 Error

In [65]:
single_quote = 'Hello'
doulbe_quote = "Hello"
multilign_string = '''This is
a multiline string
If you need to store
long arrays of characters.
'''

In [69]:
t_list=['Chapter', 1, 'This', 'Is', 'a', 'list', 'of', 'strings', '.']
print(t_list)

['Chapter', 1, 'This', 'Is', 'a', 'list', 'of', 'strings', '.']

In [70]:
t_dictionary = {'Peugeot': 306, "Mercedes-Benz": "C220", "Audi": "A4"}
print(t_dictionary)

{'Peugeot': 306, 'Mercedes-Benz': 'C220', 'Audi': 'A4'}

In [71]:
t_nested_dict = [

                    {
                        "state": "Florida",
                        "shortname":"FL",
                        "Info": {"governor": "Rick Scott"},
                        "Counties": [ 
                            {"name": "Dade", "population": 12345}, 
                            {"name": "Broward", "population": 40000},
                            {"name": "Palm Beach", "population": 60000},
                        ],
                    },
                    {
                        "state": "Ohio",
                        "shortname": "OH",
                        "info": {"governor":"John Kasich"},
                        "counties": [
                            {"name": "Summit", "population": 1234}, 
                            {"name": "Cuyahoga", "population": 1337},
                        ],
                    },
                ]
print(t_nested_dict)

[{'state': 'Florida', 'shortname': 'FL', 'Info': {'governor': 'Rick Scott'}, 'Counties': [{'name': 'Dade', 'population': 12345}, {'name': 'Broward', 'population': 40000}, {'name': 'Palm Beach', 'population': 60000}]}, {'state': 'Ohio', 'shortname': 'OH', 'info': {'governor': 'John Kasich'}, 'counties': [{'name': 'Summit', 'population': 1234}, {'name': 'Cuyahoga', 'population': 1337}]}]

In [72]:
t_tuple = ('This', 'is', 'a', 'tuple.') 
print(t_tuple)

('This', 'is', 'a', 'tuple.')

In [74]:
import pandas as pd
data = {
    "City": ['Paris', 'Lyon', 'Bordeaux'],
    "Population": [2161000, 513275, 249712]
}
t_dataframe = pd.DataFrame(data) 
print(t_dataframe)

       City  Population
0     Paris     2161000
1      Lyon      513275
2  Bordeaux      249712

In [75]:
cartes = ['Infinite', 'Platinium', 'Gold', 'Classic']
for carte in cartes:
    print(carte)

Infinite
Platinium
Gold
Classic

In [77]:
montant = 0
plafond = 100
while montant < plafond:
    print(montant) 
    montant += 10

0
10
20
30
40
50
60
70
80
90

In [78]:
montant_compte = 50 
if montant_compte < -500:
    print("Compte en contentieux")
elif montant_compte < 0:
    print("Compte débiteur")
else: 
    print("Compte créditeur")

Compte créditeur

In [79]:
def check_account_statut (montant_compte):
    if montant_compte < -500: 
        statut='Compte en contentieux'
    elif montant_compte < 0:
        statut="Compte débiteur"
    else:
        statut='Compte créditeur'
    return statut

In [80]:
import pandas as pd
import os
import glob